@model GameVoting.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<div class="page-header">
    <h1 class="center">Register</h1>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="form-group block-group">
                @Html.TextBoxFor(m => m.UserName, new { @class =  "form-control input-lg", placeholder = "Username" })
                @Html.PasswordFor(m => m.Password, new { @class =  "form-control input-lg", placeholder = "Password"  })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class =  "form-control input-lg", placeholder = "Confirm Password"  })
            </div>

            <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block" />
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
