@model GameVoting.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
}

<p>@ViewBag.StatusMessage</p>

<div class="page-header">
    <h1>Reset Password</h1>
</div>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("ResetPassword", "Account")) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <legend>Reset Password</legend>
            
            <div class="form-group block-group">
                @Html.TextBoxFor(m => m.UserName, new { @class =  "form-control input-lg", placeholder = "User Name" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "Password" })
            </div>
            
            <input type="submit" value="Reset password" class="btn btn-block btn-primary"/>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
