@using GameVoting.Helpers

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    @Html.Partial("_NavCollapse")
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @Html.MenuLink("Events", "Index", "Event")
                    </ul>
                    @Html.Partial("_LoginPartial")
                    @Html.Partial("_RandomGenerator")
                </div>
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/site")
        @RenderSection("scripts", required: false)
    </body>
</html>
